@model AssignRoleModel

<div class="container">
    <h1 class="h1 text-center"style="color: #6c757d;">Add role</h1>
    <div class="row" style="max-height: 350px; overflow-y: auto;">
        @foreach (var user in Model.Users)
        {
            <div class="col-md-6 my-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Name: @user.UserName</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var role in Model.Roles)
                        {
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input role-@role.Id" id="role-@role.Id-@user.Id" @(user.Roles.Contains(role.Name) ? "checked" : "") onclick="assignRole('@user.Id', '@role.Id')" />
                                <label class="form-check-label" for="role-@role.Id-@user.Id">@role.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    async function assignRole(userId, roleId) {
        try {
            const formData = new FormData();

            formData.append("userId", userId);
            formData.append("roleId", roleId);

            const response = await fetch(`/Admin/Assign`, {
                method: 'POST',
                body: formData
            });

            if (response.ok)
                return;
        } catch (e) {
            alert('Fail')
        }

        const checkbox = document.querySelector(`input.role-${roleId}`);
        checkbox.checked = !checkbox.checked;
    }
</script>